<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true" scanPeriod="30 seconds">

	<property name="PLATFORM_HOME" value="." />	
	<include resource="org/springframework/boot/logging/logback/defaults.xml" />
  	<include resource="org/springframework/boot/logging/logback/file-appender.xml" />
	<property name="root.level.console" value="OFF" />
	<logger name="com.cognizant.training"  level="ERROR"/>  
	<logger name="org.springframework.web" level="ERROR"/>
	
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${PLATFORM_HOME}/logs/retail-store-service.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${PLATFORM_HOME}/logs/retail-store-service-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
      			<!-- each file should be at most 100MB, keep 60 days worth of history, but at most 20GB -->
      			<maxFileSize>100MB</maxFileSize>    
      			<maxHistory>10</maxHistory>
      			<totalSizeCap>1GB</totalSizeCap>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MMM-dd HH:mm:ss.SSS} [%t] %-5level %logger{25}:%L - %msg%n</pattern>
		</encoder>
	</appender>	

	<root name="RetailStoreService" level="ERROR">
		<appender-ref ref="FILE" />
	</root>
	
	<logger name="org.hibernate" additivity="false">
    	<appender-ref ref="FILE"/>
	</logger>

</configuration>
